<ion-view view-title="Amenities">
  <ion-content class="amenities-content">
     <div class="list">
        <div class="item-divider"></div>
        <div class="header">
           <p>Security</p>
        </div>
        <div class="item with-header">
          Main Gate
          <div class="right-align-abs">
            <p>Contact No.</p>
            <p>9654281280</p>
          </div>
          <div class="row left-align">
              <ul class="col">
                 <li><span>Guards</span></li>
                 <li><span>Boom Barriers</span></li>
                 <li><span>Intercom</span></li>
                 <li><span>CCTV Camera</span></li>
              </ul>
           </div>
           Tower
           <div class="row left-align">
              <ul class="col">
                 <li><span>Access Controlled</span></li>
                 <li><span>Guards</span></li>
                 <li><span>CCTV Camera</span></li>
              </ul>
              <ul class="col">
                 <li><span>Tags For Vehicle</span></li>
                 <li><span>Stickers For Vehicle</span></li>
                 <li><span>Video Door Phone</span></li>
              </ul>
           </div>
        </div>
        <div class="item-divider"></div>
        <div class="header">
           <p>Sports & Clubhouses</p>
        </div>
        <div class="item with-header">
           Sports
           <div class="row">
              <div class="col">
                 <i class="icon ion-ios-football"></i>
                 <p>Cricket</p>
              </div>
              <div class="col">
                 <i class="icon ion-paintbrush"></i>
                 <p>Tennis</p>
              </div>
              <div class="col">
                 <i class="icon ion-ios-tennisball"></i>
                 <p>Squash</p>
              </div>
              <div class="col">
                 <i class="icon ion-ios-americanfootball-outline"></i>
                 <p>Football</p>
              </div>
           </div>
           <div class="row">
              <div class="col">
                 <i class="icon ion-ios-basketball"></i>
                 <p>Basketball</p>
              </div>
              <div class="col">
                 <i class="icon ion-wand"></i>
                 <p>Badminton</p>
              </div>
              <div class="col">
                 <i class="icon ion-ios-people"></i>
                 <p>Bowling Alley</p>
              </div>
              <div class="col">
                 <i class="icon ion-ios-keypad"></i>
                 <p>Pool Table</p>
              </div>
           </div>
           ClubHouses
           <div class="row left-align">
              <div class="col">
                 <p>Timings</p>
                 <span>10:00 am to 10:00 pm</span>
              </div>
              <div class="col">
                 <p>Holidays</p>
                 <span>Tuesday, Friday</span>
              </div>
           </div>
           <div class="row left-align">
              <ul class="col">
                 <li><span>Yoga Room</span></li>
                 <li><span>Mini Theater</span></li>
                 <li><span>Jacuzzi</span></li>
                 <li><span>Gym</span></li>
              </ul>
              <ul class="col">
                 <li><span>Dance Room</span></li>
                 <li><span>Restaurant</span></li>
                 <li><span>Kids Zone</span></li>
                 <li><span>Bar</span></li>
              </ul>
           </div>
        </div>
        <div class="item-divider"></div>
        <div class="header">
           <p>Specifications</p>
        </div>
        <div class="item with-header">
           <div class="row left-align">
              <ul class="col">
                 <li><span>Shower Cubicle</span></li>
                 <li><span>Kitchen Appliances</span></li>
                 <li><span>Bathtub</span></li>
                 <li><span>Jacuzzi</span></li>
              </ul>
              <ul class="col">
                 <li><span>Home Automation</span></li>
                 <li><span>Kitchen OTG</span></li>
                 <li><span>Air Conditioning</span></li>
                 <li><span>Wardrobes</span></li>
              </ul>
           </div>
        </div>
        <div class="item-divider"></div>
        <div class="header">
           <p>Extras</p>
        </div>
        <div class="item with-header">
           <div class="row">
              <div class="col">
                 <i class="icon ion-ios-paper"></i>
                 <p>Study Room</p>
              </div>
              <div class="col">
                 <i class="icon ion-ios-folder"></i>
                 <p>Servant Room</p>
              </div>
              <div class="col">
                 <i class="icon ion-ios-color-wand"></i>
                 <p>Puja Room</p>
              </div>
              <div class="col">
                 <i class="icon ion-ios-people"></i>
                 <p>Family Lounge</p>
              </div>
           </div>
        </div>
        <div class="item-divider"></div>
        <div class="header">
           <p>Other Details</p>
        </div>
        <div class="item with-header">
           <div class="row left-align">
              <ul class="col">
                 <li><span>Power Backup</span></li>
                 <li><span>Pet Friendly</span></li>
                 <li><span>Play School</span></li>
                 <li><span>ATM</span></li>
              </ul>
              <ul class="col">
                 <li><span>Maintainence</span></li>
                 <li><span>Wheelchair Friendly</span></li>
                 <li><span>Daycare</span></li>
                 <li><span>Grocery</span></li>
              </ul>
           </div>
        </div>
        <div class="item-divider"></div>
     </div>
  </ion-content>
</ion-view>