/* Overview Content*/

.overview-content .list > .item-image > .top-right {
   position: absolute;
   top: 0;
   right: 5px;
   color: white;
}

.overview-content .list > .item-image > .bottom {
   position: absolute;
   bottom: 0;
   color: white;
   padding: 0;
}

.overview-content .list > .item-image > .bottom > i{
   font-size: 30px;
   position: relative;
   right: 15px;
   bottom: -10px;
}

.overview-content .list > .item-image > .bottom > .col > span{
   display: block;
   text-align: left;
   font-size: 15px;
}

.overview-content .list > .image-footer > .row > .col {
   text-align: center;
}

.overview-content .list > .image-footer > .row > .col > i {
   font-size: 30px;
   color: #F26551;
}

.overview-content .list > .image-footer > .row > .col > span {
   display: block;
   font-size: 10px;
}

.overview-content .list > .image-footer > .footer-row {
   margin-top: 20px;
}

.overview-content .list > .image-footer > .footer-row > div {
   position: absolute;
   right: 5px;
}

.overview-content .list > .image-footer > .footer-row > div > p.green {
   color: #70C38C;
}

.overview-content .list > .image-footer > .footer-row > div > p.blue {
   color: #6995A8;
}

.overview-content .list > .image-footer > .footer-row > div > p {
   display: inline;
}

.overview-content .list > .item.project-status > .row > .col {
   text-align: center;
}

.overview-content .list > .item.project-status > .row > .col > i {
   display: block;
}

.overview-content .list > .item.project-status > .row > .col > span {
   display: block;
}

.overview-content .list > .item.project-status > .row > .col > * {
   position: absolute;
   right: 30px;
}

.overview-content .list > .item > .icon {
   letter-spacing: 5px;
}

.overview-content .list > .item > .icon.ion-ios-arrow-forward {
   color: #F26551;
}

.overview-content .list > .item > .row {
   margin-bottom: 5px;
}

.overview-content .list > .indexes-item > .row > .col > p {
   font-size: 12px;
   white-space: normal;
}

.overview-content .list > .indexes-item > .row {
   margin-bottom: 50px;
}

/* Fixes The Indexes Rings For IPhone 5*/
/* NOT NEEDED FOR NEW RINGS */
/*@media(max-width: 320px) {
   .overview-content .list > .indexes-item > .row {
      margin-left: -26px;
   }  
}*/
/* NEEDED FOR NOW NEW LIBRARY */
@media(max-width: 320px) {
   .overview-content .list > .indexes-item {
      padding: 0;
   }  
}

/* New P tag FOr Circle */

.overview-content .list > .indexes-item > .row > .col > p {
   position: relative;
   left: 2px;
   /*top: 10px;*/
}

.overview-content .list > .indexes-item > .row > .col {
   text-align: center;
}

.overview-content .list > .indexes-item > .row > .col > span {
   position: relative;
   top: -63px;
   left: 4px;
}

.overview-content .list > .indexes-item > .row > .col > .ring {
   height: 100px;
   width: 100px;
   border: 5px solid;
   border-radius: 50%;
   text-align: center;
   margin: auto;
}

.overview-content .list > .indexes-item > .row > .col > .ring > span {
   position: relative;
   top: 35px;
}

.overview-content .list > .indexes-item > .row > .col > .ring > p {
   position: relative;
   bottom: -90px;
   white-space: normal;
}



.overview-content .list > div.fix-wrap {
   white-space: normal;
}

.overview-content .list > .below-tags > .row > .col {
   text-align: center;
}

.overview-content .list > .below-tags > .row > .col > span {
   display: block;
}

.overview-content .list > .below-tags > .row > .col > .badge {
   border-radius: 5px;
   text-align: center;
}

.overview-content .list > .item > .rower > .badger {
   position: relative;
   top: 0;
   left: 0;
   border-radius: 4px;
   background-color: #EF4C40;
   color: white;
   padding: 2px 5px;
   margin: 5px;
   display: inline-block;
}

.overview-content .list > .item > .row > .price {
   font-weight: bold;
   position: absolute;
   right: 5px;
}

.overview-content .list > .item > p {
   position: absolute;
   right: 15px;
   bottom: 5px;
   font-size: 12px;
}

.overview-content .list > .header > p {
   font-size: 16px;
   padding-top: 10px;
   padding-left: 15px;
   font-weight: 100 !important;
}

.overview-content .list > .item.with-header {   
   border-top:1px solid #B0E3EF;
}

.overview-content .list {
   background-color: #ffffff;
}